<div class="jumbotron">
	<h1>Welcome to eStuk</h1>
	<p>The largest biggst book store?</p>
	<%= link_to "Books", "#", class: "btn btn-info" %>
	<%= link_to "Sign In", new_user_registration_path, class: "btn btn-success" %>
</div>