<div class="row text-center">
	<h1> Congratulation, your order was successfully processed </h1>
	<p> <b> Download Link: </b> <%= link_to "Download", @book.resource.url %></p>
	<p> <b> Order number: </b> <%= @sale.guid %> </p>
</div>